    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body {
    background-image: url(mexico.jpg);
    background-size: cover;
    background-position: fixed;
    width: 100%;
}

.header {
    background-color: rgb(49, 36, 36);
    padding: 10px;
    color: white;
    overflow: hidden;
}

.header h2 {
    font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px 4px red;
    padding: 5px;
    margin-top: 20px;
    /* position: fixed;
    top: 0; */
}   

.navbar ul {
    list-style: none;
    /* display: flex; */
    margin-left: 70%;
    gap: 0px;  
    font-size: 20px;
}

li, .dropdown{
    /* border: 2px ridge gray; */
    padding: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: 0.4s;
}   

.active {
    background-color: rgb(24, 22, 22);
    border-radius: 12px;
}

li a, .dropbtn {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

li:hover, .dropbtn:hover {
    border-radius: 12px;
    background-color: gray;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(14, 13, 13);
    z-index: 1;
    margin-left: -20px;
    border-radius: 12px;
}

.dropdown-menu a {
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(22, 20, 20);
    padding: 12px 14px;
    color: white;
    display: block;
    border-top: none;
    transition: 0.4s;
    border-radius: 12px;    
}   

.dropdown-menu a:hover {
    background-color: whitesmoke;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.login-form {
    margin: 50px 0px 0px 35%;   
    padding: 40px;    
    /* border: 2px solid black; */
    width: fit-content; 
    height: 700px;
    backdrop-filter: blur(12px);
    border-radius: 12px;
}

.login-form #login {
    font-size: 19px;
    color: white;
    text-shadow: 2px 2px 4px gold;
}

.login-content {
    margin: 0px 0px 0px 75px;
    padding: 15px;  
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
}

input[type=text] {
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 12px;
    text-indent: 12px;
    transition: 0.4s;
}

input[type=email] {
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 12px;
    text-indent: 12px;
    transition: 0.4s;
}

input[type=password] {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 12px;
    text-indent: 12px;
    transition: 0.4s;
}

input[type=password]:focus {
    opacity: 1;
}

input:focus {
    border: none;
    outline: none;
    transform: scale(1.1);
    opacity: 0.9;
    color: black;
}

input[type=checkbox] {
    opacity: 1;
}

input[type=submit] {
    width: 240px;
    height: 35px;
    border-radius: 12px;
    background-color: green;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.sign-up {
   padding: 20px;
   margin: 0;
}

.sign-up p {
    text-align: center;
    margin-top: 20px;
}

.website-icons {
    float: left;
    padding: 0;
    margin-left: 75px;  
}

.signup-page {
    background-color: green;
    width: 240px;
    height: 30px;
    margin-left: 70px;
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.signup-page a {
    text-decoration: none;
    color: white;
}